h2{
    text-align: center;
}
h3{
    text-align: center;
}
a{
    margin-left: 38%;
}
h6{
    text-align: center;
}
iframe{
    margin-left: 25%;
}
.pdf{
    margin-left: 10%
}
.su{
    margin-left: 38%
}
#home{
    text-align: center;
}
img{
     margin-left: 10%
}
.show{
    height: 15%;
    width: 15%;
}